.cannon-container {
    position: absolute;
    top: 70%; 
    left: 10%; 
    transform: translate(-50%, -50%) rotate(90deg); 
    transform-origin: bottom left; 
  }
  
  .cannon {
    width: 160px; 
    height: 80px; 
    background-color: black;
    border-radius: 10px;
    transform-origin: 100% 50%;
    transform: rotate(-25deg); 
  }

  .wheel {
    width: 120px;
    height: 120px;
    background-color: #858585;
    border-radius: 50%;
    position: absolute;
    top: 40%; 
    left: 170px; 
    transform: translate(-50%, -50%);
  }