.cannonball {
    width: 30px;
    height: 80px;
    background-color: #704d03;
   
    border-radius: 50%;
    position: absolute;
    top: 700px;
   
    left: 200px;
   
    opacity: 0;
  
    transition: transform 1.3s ease, opacity 0.1s ease;
   
    transform: rotate(-180deg);
 
}

.cannonball::before {
    content: '';
    width: 4px;
    height: 60px;
    background-color: #704d03;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: top center;
    border-radius: 2px;

}

.cannonball.fired {
    transform: translateY(-600px) translateX(600px);
    opacity: 1;
}

.explosion {
    width: 300px;
    height: 300px;
    background-color: #ff2600;

    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 670px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease;

}


.cannonball.hidden {
    opacity: 0;
    display: none;
}

.barrel-explosion {
    width: 50px;
    height: 50px;
    background-color: #ff4500;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 200px; 
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}