.App {}

.fire-button {
  position: absolute;
  bottom: 50px;
  right: 1200px;
  padding: 10px 20px;
  background-color: #704d03;

  border: 2px solid #704d03;

  border-radius: 15px;

  color: #704d03;

  font-size: 16px;

  cursor: pointer;
  transition: background-color 0.3s ease;



  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);


  &:hover {
    background-color: #e0aa00;

  }
}

img {
  max-width: 150px;
  margin: 2px;
}

.bg {
  background-image: url(./images/1.jpg);
  width: 1700px;
  height: 1000px;
  background-size: cover;
}